<template>
    <div class="slds-box slds-text-align_center">
        <ul class="slds-timeline">
            <li>
                <div
                    class="slds-timeline__item_expandable slds-timeline__item_task slds-is-open"
                >
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            
                            <div
                                class="slds-icon_container slds-timeline__icon "
                                title="2/2024"
                            >
                                
                            </div>
                        </div>
                        <div class="slds-media__body">
                            <div
                                class="slds-grid slds-grid_align-spread slds-timeline__trigger"
                            >
                                <div
                                    class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space"
                                
                                >
                                <img
                                    class="slds-icon slds-icon_medium"
                                    aria-hidden="true" src="$assetsDir/img/ACN.png"
                                >
                                    
                        </img>
                                    <h3
                                        class="slds-truncate"
                                        title="Business Architecture Manage"
                                    >
                                        
                                        <strong
                                                >Business Architecture Manage</strong
                                            >
                                        
                                    </h3>
                                </div>
                                <div
                                    class="slds-timeline__actions slds-timeline__actions_inline"
                                >
                                    <p class="slds-timeline__date">2/2024</p>
                                </div>
                            </div>
                            <p class="slds-m-horizontal_xx-small">
                                summary
                            </p>
    
                        
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>